h1 {
    text-align: center;
    margin: 20px;
    font-size: 2em;
    text-decoration: underline;
}

h2 {
    margin: 10px 0;
}

img {
    max-width: 300px;
    float: right;
    border-radius: 10px;
    margin: 30px;
}

p {
    text-align: justify;
}
