<main ng-app="">
    <h1>Login och registrering</h1>

    <form>
        Här kan du:<br>
        <input type="radio" name="loginPage" [(ngModel)]="loginPage" value="login">LOGGA IN<br>
        <input type="radio" name="loginPage" [(ngModel)]="loginPage" value="register">REGGA DIG<br><br>
    </form>

    <div [ngSwitch]="loginPage">
        <div *ngSwitchCase="'login'">
            <h2>Logga in med en befintlig användare</h2>
            <!-- <p>{{ loginPage }}</p> -->
            <form>
                <label for="email">Din epostadress</label><br>
                <input type="email" name="email" value="" [(ngModel)]="email" required><br>
                <label for="password">Ditt lösenord</label><br>
                <input type="password" name="password" value="" [(ngModel)]="password"><br>
                <!-- <input type="submit" name="submitLogin" value="Logga in">
                <input type="submit" name="submitRegister" value="Registrera"> -->
                <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            </form>
        </div>
        <div *ngSwitchCase="'register'">
            <h2>Skapa en ny användare</h2>
            <!-- <p>{{ loginPage }}</p> -->
            <form>
                <label for="email">Din epostadress</label><br>
                <input type="email" name="email" value="" [(ngModel)]="email" required><br>
                <label for="password">Ditt lösenord</label><br>
                <input type="password" name="password" value="" [(ngModel)]="password"><br>
                <!-- <input type="submit" name="submitLogin" value="Logga in">
                <input type="submit" name="submitRegister" value="Registrera"> -->
                <button type="submit" class="btn btn-success" (click)="register()">Register</button>
            </form>
        </div>
    </div>

    <!-- <div [hidden]="submitted" ng-controller="formCtrl">
        <form>
            <label for="email">Din epostadress</label><br>
            <input type="email" name="email" value="" [(ngModel)]="email" required><br>
            <label for="password">Ditt lösenord</label><br>
            <input type="password" name="password" value="" [(ngModel)]="password"><br>
            <button type="submit" class="btn btn-success" (click)="login()">Login</button>
            <button type="submit" class="btn btn-success" (click)="register()">Register</button>
        </form>
    </div> -->
</main>
